.plan-detains-main-container{
    box-shadow: 5px 5px #f0f3f3f4;
    border-radius: 15px;
    background-color:#f9f9f9;
  
    margin-right: 5px;
    padding-left: 15px;
    width:300px;
    
}