.main-container{
  height:100vh;
 background-color: #fff;
}
@media (min-width:576px) {
  .main-container{
    height:100vh;
  background-image: linear-gradient(to left,#d6ede9,#e8efed,#f9f9f9,#fff,#f4f4f4);
  }
}
*{
  font-family: Sans-serif;
}